
   
    canvas {
        margin-left: 100px;
    }
    
    .topmenu{
        height:50px;
     }
     .top .topbg {
         position: fixed;
         z-index: 99999;
         transition: all 1s;
         top: 0;
         left: 0;
         right: 0;
         background: rgba(9, 32, 55, 0.8) none repeat scroll 0 0 !important;
         filter: Alpha(opacity=80);
     }
    .top {
        width: 90%;
        margin: 0 auto;
        h1 {
            width: 130px;
            img {
                width: 100%;
                margin-top:7px;
            }
        } 
        .topBack{
            float: right;
            top:12px;
            width: 80px;
            height: 23px;
            outline: none;
            border:1px solid gray;
            border-radius: 5px;
            font-size: 10px;
            background-color: transparent;
            color: white;
            text-align: center;
            line-height: 23px;
        }
        .topBack:hover {
            cursor: pointer;
        }
    }
    

    .footer {
        margin-top: 10px;
        padding: 10px 0;
        height: 200px;
        .footercenter {
            width: 100%;
            padding-top: 0;
            dl {
                width: 100%;
                text-align: center;
                float: none;
                dt {
                 font-size: 16px;
                }
                dd{
                    display: block;
                   
                    input{
                       margin: 0px auto 0;
                    }
                    button{
                        margin: 10px auto 0;
                    }
                }
            }
            .flinks {
                width: 100%;
                padding-top: 20px;
                text-align: center;
                margin-top: 0px;
                div {
                    display: block;
                    height: 30px;
                    a {
                       width: 20px;
                       display: inline-block;
                       float: none;
                       margin: 0 5px;
                       img {
                            display: block;
                            margin: 0 auto;
                            width: 20px;
                        }
                    }
                }    
            }
        }
    }    
    


   
    




